---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "base";

.splash {
  background-image: url("/assets/background.jpg");
  background-size: cover;
  min-height: 707px;
}

.splash-content {
  position: relative;
  min-height: 707px;
  overflow: hidden;
}

.splash-cta {
  position: relative;
  display: inline-block;
  padding: 250px 0 0 100px;
  color: #FFF;
  z-index: 1;
}

.splash-jeep {
  position: absolute;
  width: 640px;
  height: 432px;
  top: 260px;
  right: -130px;
}
