
<div class="d-flex flex-column flex-md-row align-items-center px-md-4 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a href="{{ site.url }}">
      <img src="/assets/logo.svg" width="200" class="d-inline-block align-top" alt="Blaze Jeep Rental">
    </a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Jeeps</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
    <a class="p-2 text-dark" href="#">About</a>
    <a class="p-2 text-dark" href="#">Trails</a>
  </nav>
  <a class="btn btn-outline-warning" href="book.html">Book</a>
</div>
